{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div class="row pt-3">
    <div class="col-md-12">
        <ul class="list-group">
            <li class="list-group-item active">
                <h1>My Profile</h1>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <div class="list-group">
                            <div class="list-group-item">
                                <img src="{% static 'images/default_profile.png' %}" alt="user-image" class="img-thumbnail">
                            </div>
                            <div class="list-group-item">
                                <h4>{{user.username}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                        <div class="list-group">
                            <div class="list-group-item">
                                <form method="POST">
                                    {% csrf_token %}
                                    {% bootstrap_form form %}
                                    <input type="submit" class="btn btn-primary" value="Update">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
